<div class="justify-content-md-center">
<h1>Rotations</h1>
<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Libero: {{ LiberoPlayers.length }}</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
          @for (player of LiberoPlayers; track $index) {
            {{ player.name }}
          }
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Setter: {{ SetterPlayers.length }}</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
          @for (player of SetterPlayers; track $index) {
            {{ player.name }}
          }
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Opposite: {{ OppositePlayers.length }}</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
          @for (player of OppositePlayers; track $index) {
            {{ player.name }}
          }
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Middle: {{ MiddlePlayers.length }}</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
          @for (player of MiddlePlayers; track $index) {
            {{ player.name }}
          }
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Outside: {{ OutsidePlayers.length}}</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
          @for (player of OutsidePlayers; track $index) {
            {{ player.name }}
          }
				</ng-template>
			</div>
		</div>
	</div>
  </div>
</div>