<div class="row justify-content-md-center">
    <div class="container mt-4">
  <h2>Players</h2>
  <ul class="list-group mb-3">
      @for (player of players; track $index) {
        <li class="list-group-item">{{ player.name }}</li>
        <button class="btn btn-outline-primary" (click)="open(player)">
	<div>Edit Roles</div>
</button>
      }
  </ul>
  <div class="input-group mb-3">
    <input
      type="text"
      [(ngModel)]="newItem"
      class="form-control"
      placeholder="Enter a name..."
      (keyup.enter)="addItem()"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="addItem()"
    >
      <i class="bi bi-plus-lg"></i> Add
    </button>
  </div>
</div>

</div>
