<style>
  *{
    text-align: center;
  }
  .main{
    display: block;
  }
</style>
<main class="main">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="2">Two</mat-button-toggle>
    <mat-button-toggle value="3">Three</mat-button-toggle>
    <mat-button-toggle value="n">n</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field>
    <mat-label>Names</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <button mat-flat-button>Generate</button>
  
  <!--TODO replace with ngFor? extract list items as component?-->
  <mat-list>
    <mat-list-item>Team1</mat-list-item>
    <mat-list-item>Team2</mat-list-item>
    <mat-list-item>Team3</mat-list-item>
   </mat-list>
</main>

<router-outlet />
